img {
    width: 30%;
    float: left;
    margin: 1.66%
}

p{
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 30px;
    font-weight: 800px;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 96.5%;
    padding-bottom: 20px;
}